import(stats,graphics)
importFrom("lme4",lmer)
importFrom("robustlmm",rlmer)
importFrom("outliers",grubbs.test)

export(showd, interlabstats, interlabstats.default, interlabstats.formula,
       plot.interlab, print.interlab)
